<div class="sidenav-area">
  <div class="showcase container">
    <div class="row">
      <div class="col s12 m10 offset-m1 center">
        <h5>Welcome To CtrlStock</h5>
        <h1>Solutions</h1>
      </div>
    </div>
  </div>
</div> 
  <!-- Section: Solutions About -->
  <section class="section section-solutions-about">
  <div class="container">
    <div class="row">
      <div class="col s12 m5">
        <h2>What We Do...</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab corporis autem assumenda sed labore quo facere dolorum
          suscipit, fuga quam sequi id quaerat, perferendis unde quos soluta incidunt nostrum voluptatum?</p>
      </div>
      <div class="col s12 m6 offset-m1">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s4">
                <a href="#tab1" class="purple-text">Lorem ipsum</a>
              </li>
              <li class="tab col s4">
                <a href="#tab2" class="purple-text">Lorem ipsum</a>
              </li>
              <li class="tab col s4">
                <a href="#tab3" class="purple-text">Lorem ipsum</a>
              </li>
            </ul>
          </div>
          <div id="tab1" class="col s12">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt cupiditate aspernatur aliquam nobis dolorum
              quae assumenda nemo necessitatibus voluptates deserunt!</p>
          </div>
          <div id="tab2" class="col s12">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perferendis officia itaque necessitatibus et
              debitis non eveniet libero quaerat corporis, dignissimos quasi, voluptates sed minus eum pariatur tempore
              temporibus. Numquam.</p>
          </div>
          <div id="tab3" class="col s12">
            <h5>Lorem ipsum</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat, dolore blanditiis commodi velit dignissimos
              corporis quas modi qui, unde quasi iusto facilis quis in voluptatem neque aut cumque aliquid.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <!-- Section: Features -->
  <section class="section section-features grey lighten-3">
  <div class="container">
    <h4 class="purple-text text-darken-1 center">Powerful & Innovative</h4>
    <h6 class="grey-text text-darken-2 center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eligendi?</h6>
    <br>
    <br>
    <!-- Row 1 -->
    <div class="row">
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-user"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-database"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-chart-line"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
    </div>
  
    <!-- Row 2 -->
    <div class="row">
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-github"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-plus"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
      <div class="col s12 m4">
        <h5>
          <i class="fa fa-hdd"></i> Lorem ipsum
        </h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis deserunt quo ipsum beatae rerum consequuntur maiores
          voluptates adipisci quaerat sint.</p>
      </div>
    </div>
    <div class="center">
      <br>
      <br>
      <h5>
        <span class="deep-purple-text text-lighten-1">Have a question? </span> Contact our sales team
      </h5>
      <p>sales@ctrlstock.test</p>
    </div>
  </div>
  </section>
  