<p>
  {{firstName}}
  {{lastName}}
</p>
<p>
  {{email}}
</p>








<!-- <form class="checkout-form">
  <input type="hidden" name="payment_system" value="card">
  <input type="hidden" name="merchant_id" value="1396424">
  <input type="hidden" name="amount" value="100">
  <input type="hidden" name="currency" value="USD">
  <input type="hidden" name="email" value="client@example.com" />
  <input type="hidden" name="response_url" value="https://example.com/" />
  <div class="container">
    <div class="error-wrapper"></div>
    <div class="input-wrapper">
      <div class="input-label w-1">
        Card Number:
      </div>
      <div class="input-field w-1">
        <input type="tel" name="card_number" class="input" onkeydown="nextInput(this,event)" maxlength="16" placeholder="XXXXXXXXXXXXXXXX" />
      </div>
    </div>
    <div class="input-wrapper">
      <div class="input-label w-3-2">
        Expiry Date:
      </div>
      <div class="input-label w-3">
        CVV2:
      </div>
      <div class="input-field w-3">
        <input type="tel" name="expiry_month" onkeydown="nextInput(this,event)" class="input" maxlength="2" placeholder="MM" />
      </div>
      <div class="input-field w-3">
        <input type="tel" name="expiry_year" onkeydown="nextInput(this,event)" class="input" maxlength="2" placeholder="YY" />
      </div>
      <div class="input-field w-3">
        <input type="tel" name="cvv2" onkeydown="nextInput(this,event)" class="input" maxlength="3" placeholder="XXX" />
      </div>
    </div>
    <div class="input-wrapper stack-1">
      <div class="input-field w-1">
        <button type="submit" onkeydown="nextInput(this,event)" class="button">Pay</button>
      </div>
    </div>
  </div>
</form> -->


