<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <h4>{{firstName}} {{lastName}}</h4>
        <p>{{email}}</p>
      </div>
      <div class="col s12 m9">
        <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
          <div class="row">
            <div class="col s12 m6">
              <div class="card small center">
                <div class="card-content">
                  <h5 class="grey-text text-darken-4">Monthly</h5>
                  <ul>
                    <li>Lorem ipsum dolor sit amet amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet ametamet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                  </ul>
                </div>
                <div class="card-action">
                  <a class="btn btn-lg btn-primary" (click)="pay()">
                    Pay 9.99 USD
                  </a>
                </div>
              </div>
            </div>
            <div class="col s12 m6">
              <div class="card small center">
                <div class="card-content">
                  <h5 class="grey-text text-darken-4">Yearly</h5>
                  <span class="green-text">Save 20$ a year</span>
                  <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet amet</li>
                    <li>Lorem ipsum dolor sit amet ametame</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet amet</li>
                  </ul>
                </div>
                <div class="card-action">
                  <a class="btn btn-lg btn-primary" (click)="pay()">
                    Pay 99.99 USD
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>