<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <h4>{{firstName}} {{lastName}}</h4>
        <p>{{email}}</p>
      </div>
      <div class="col s12 m9">
        <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
              <div class="row">
                <div class="col s12 m6">
                  <div class="card-panel center">
                    <i class="fa fa-user fa-3x deep-purple-text text-darken-2"></i>
                    <h5 class="grey-text text-darken-4">Monthly</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, suscipit!</p>
                    <a class="btn btn-lg btn-primary" (click)="pay()">
                      Pay 9.99 USD
                    </a>
                  </div>
                </div>
                <div class="col s12 m6">
                  <div class="card-panel center">
                    <i class="fa fa-database fa-3x deep-purple-text text-darken-2"></i>
                    <h5 class="grey-text text-darken-4">Yearly</h5>
                    <p class="green-text">Save 20$ a year</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, suscipit!</p>
                    <a class="btn btn-lg btn-primary" (click)="pay()">
                      Pay 99.99 USD
                    </a>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</section>