<div class="sidenav-area">
  <div class="showcase container">
    <div class="row">
      <div class="col s12 m10 offset-m1 center">
        <h5>Welcome To CtrlStock</h5>
        <h1>Reset Password</h1>
      </div>
    </div>
  </div>
</div>
<section class="section section-signup">
  <div class="container">
    <div class="col s12 l8 offset-m1 ">
      <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
        <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        >  
          <div class="input-field">
            <input 
              [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
              formControlName="password"
              type="password" 
              id="password">
            <label for="password">Password</label>
            <span 
              class="helper-text red-text"
              *ngIf="form.get('password').invalid && form.get('password').touched"
              >
              <span *ngIf="form.get('password').errors['required']">Password is required</span>
              <span *ngIf="form.get('password').errors['minlength']">
                  Password must be at least {{form.get('password').errors['minlength']['requiredLength']}} characters long.
                  Now {{form.get('password').errors['minlength']['actualLength']}}
              </span>
              <span *ngIf="form.get('password').errors['pattern'] && !form.get('password').errors['minlength']">
                  Your password must contain only numbers and letters, at least one uppercase, one lowercase, and one number
              </span>
            </span>
          </div>
          <div class="input-field">
            <input 
              [ngClass]="{'invalid': form.get('confirmPassword').invalid && form.get('confirmPassword').touched}"
              formControlName="confirmPassword"
              type="password" 
              id="confirmPassword">
            <label for="confirmPassword">Confirm password</label>
            <span 
              class="helper-text red-text"
              *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched"
              >
              <span *ngIf="form.get('confirmPassword').errors['required']">Confirm password is required</span>
              <span *ngIf="form.get('confirmPassword').errors.MatchPassword">Password mismatch</span>
            </span>
          </div>
          <div class="card-action">
            <button  
              type="submit"
              class="btn-large btn purple waves-effect"
              [disabled]="form.invalid || form.disabled"
              >
                Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<p>{{id}}</p>



  
