<form
  [formGroup]="form"
  >  
  <h4 mat-dialog-title>Account Login</h4>
  <div mat-dialog-content>
    <p>Login to access your account dashboard</p>
    <div class="input-field">
      <input 
        [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}"
        formControlName="email"
        type="email" 
        id="email">
      <label for="email">Email</label>
      <span 
        class="helper-text red-text"
        *ngIf="form.get('email').invalid && form.get('email').touched"
        >
        <span *ngIf="form.get('email').errors['required']">Email не може бути пустим</span>
        <span *ngIf="form.get('email').errors['email']">Введіть коректний email</span>
      </span>
    </div>
    <div class="input-field">
      <input 
        [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}"
        formControlName="password"
        type="password" 
        id="password">
      <label for="password">Password</label>
      <span 
        class="helper-text red-text"
        *ngIf="form.get('password').invalid && form.get('password').touched"
        >
        <span *ngIf="form.get('password').errors['required']">Password не може бути пустим</span>
        <span *ngIf="form.get('password').errors['minlength']">
            Password має бути більше {{form.get('password').errors['minlength']['requiredLength']}} символів.
            Зараз {{form.get('password').errors['minlength']['actualLength']}}
        </span>
      </span>
    </div>
  </div>

  <div class="right-align">
    <button (click)="onReset()"
      class="modal-close btn grey"
      [disabled]="form.invalid || form.disabled"
      >
      Reset Password
    </button>

    <button  
      type="submit"
      (click)="onSubmit()"
      class="modal-action modal-close btn purple waves-effect"
      [disabled]="form.invalid || form.disabled"
      >
      Login
    </button>
  </div>
</form>
