.sidenav-area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .primary-overlay {
    background: rgba(112, 81, 176, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* .transparent{
      background: url(../../../assets/img/background.jpg);
      background-size: cover;
      background-position: center;
      color: #fff;
  } */
  
  .mat-sidenav-container {
    flex: 1;
  }
  
  .icon{
    font-size: 16px;
  }
  
  
  
  