.sidenav-area {
    background: url(../../assets/img/background.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}
.showcase{
    padding-top: 40px;
    padding-bottom: 40px;
}